<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE"/>

<h:head>

</h:head>

<h:body>

    <pm:page>
        <pm:header title="INWT"></pm:header>

        <pm:content>
            <p:panel header="Login">
                <h:form>
                    <pm:field>
                        <p:outputLabel for="loginEmail" value="E-Mail:"/>
                        <p:inputText id="loginEmail"
                                     value="#{index.loginEmail}"/>
                    </pm:field>

                    <pm:field>
                        <p:outputLabel for="password" value="Password:"/>
                        <p:password id="password" value="#{index.password}"/>
                    </pm:field>

                    <p:commandButton value="Login"
                                     action="#{index.loginButtonAction}"/>
                </h:form>
            </p:panel>
            <p:panel header="Registration">
                <h:form>
                    <p:outputLabel
                            value="Please enter your e-mail in the field below and press the Register button. The password will be e-mailed to you."/>
                    <pm:field>
                        <p:outputLabel for="registrationEmail" value="E-Mail:"/>
                        <p:inputText id="registrationEmail" value="#{index.registrationEmail}"/>
                    </pm:field>

                    <p:commandButton value="Register"
                                     actionListener="#{index.registerButtonAction}"/>
                </h:form>
            </p:panel>

        </pm:content>

        <pm:footer title="m.inwt.info"></pm:footer>
    </pm:page>
</h:body>

</html>

