<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE"/>

<h:head>

</h:head>

<f:event listener="#{main.loadFirstImage}" type="preRenderView" />

<h:body id="body">

    <pm:page id="page">
        <pm:header title="INWT">
        </pm:header>

        <pm:content id="content">
            <h:form>
                <p:panelGrid columns="1">
                    <p:graphicImage id="image" rendered="false" value="#{main.currentImage()}"
                                    cache="false">
                    </p:graphicImage>
                    <p:panelGrid columns="2">
                        <p:commandButton id="hotButton"
                                         value="I like it"
                                         action="#{main.hotButtonAction}"
                                         update="image"
                                         cache="false" />
                        <p:commandButton id="notButton"
                                         value="I don't like it"
                                         action="#{main.notButtonAction}"
                                         update="image"
                                         cache="false" />
                    </p:panelGrid>
                </p:panelGrid>
            </h:form>
        </pm:content>

        <pm:footer title="m.inwt.info"></pm:footer>
    </pm:page>
</h:body>

</html>

