<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile">

<f:view renderKitId="PRIMEFACES_MOBILE"/>

<h:head>

</h:head>

<h:body id="body">

    <pm:page id="page">
        <pm:header title="INWT">
        </pm:header>

        <pm:content id="content">
            <h:form>
                <p:outputLabel id="noImagesAvailableLabel"
                               value="No new images available. Press the button below to request new recommendations. Once our system has gathered new ideas for you, you will be notified via e-mail."
                               cache="false"/>

                <p:commandButton id="requestNewImagesButton"
                                 value="Request new images"
                                 actionListener="#{nonewimages.requestNewImagesButtonAction}"
                                 cache="false"/>
            </h:form>
        </pm:content>

        <pm:footer title="m.inwt.info"></pm:footer>
    </pm:page>
</h:body>

</html>

